@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: roboto condensed;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: roboto condensed;
  src: url("../fonts/RobotoCondensed-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: KronaOne;
  src: url("../fonts/KronaOne-Regular.ttf");
}

@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-Roboto: "roboto", sans-serif;
}

@utility container {
  padding-inline: 2rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
