@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Roboto Condensed", sans-serif;
}

@utility container {
  padding-inline: 2rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
